n8n/workflow&creds/workflows/EH-TitleAgent.json
[{"createdAt":"2025-10-16T00:56:47.393Z","updatedAt":"2025-10-16T01:45:52.000Z","id":"f0lHnCC0UdcgM3SB","name":"Event Horizon: Summarizing Title Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"x-ai/grok-4-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-112,272],"id":"714ad252-f034-4c02-bfec-b2333b26a437","name":"x-ai/grok-4-fast:paid","credentials":{"openRouterApi":{"id":"yKFM8WDdpoQvNP2s","name":"OpenRouter account"}}},{"parameters":{"model":"anthropic/claude-sonnet-4.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[80,272],"id":"cd3cc751-3bef-4696-adef-7efa1347746b","name":"claude-sonnet-4.5","credentials":{"openRouterApi":{"id":"yKFM8WDdpoQvNP2s","name":"OpenRouter account"}}},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[256,272],"id":"b09b28a8-5b97-42a3-bdc1-d4f673387929","name":"Redis Chat Memory","credentials":{"redis":{"id":"4I9jSqxS5nAnBW2p","name":"Redis account"}}},{"parameters":{"promptType":"define","text":"=Instruction Set:\n# Summarizing Title Agent\n\n## Role\nYou are a specialized AI agent that creates concise, descriptive titles for chat conversations.\n\n## Task\nGenerate a brief, descriptive title (maximum 60 characters) that summarizes the main topic or purpose of a conversation.\n\n## Instructions\n1. Analyze the conversation history to identify the primary topic or user's intent\n2. Create a concise title that captures the essence of the conversation\n3. Keep the title under 60 characters\n4. Use clear, descriptive language that would help the user recognize the conversation later\n5. Avoid overly technical terms unless necessary to describe the topic\n\n## Output Format\nYour response must be a valid JSON object with the following structure:\n```json\n{\n  \"sessionId\": \"the-session-id-from-the-conversation\",\n  \"description\": \"brief-description-of-the-conversation\"\n}\n```\n\n## Example Input\nA conversation about planning a project timeline with tasks, milestones, and deadlines.\n\n## Example Output\n```json\n{\n  \"sessionId\": \"2025-10-15T13:11:11.908-04:00\",\n  \"description\": \"Project Timeline Planning\"\n}\n```\n\n## Additional Guidelines\n- If the conversation covers multiple topics, focus on the primary theme\n- For conversations that are just starting, use \"New Conversation\" as the description\n- For technical discussions, include the key technology or concept being discussed\n- For planning conversations, include the type of planning (e.g., \"Project Planning\", \"Task Management\")\n- For problem-solving conversations, include the type of problem being addressed\n\n---\nChat Information\n{{ $json }}","needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[32,0],"id":"e0de4bd5-a768-4b18-a068-8a475b8f3d01","name":"Summarizing Title Agent"},{"parameters":{"method":"POST","url":"http://backend:8000/api/chat/addDescription","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"sessionId","value":"={{ $json.output.parseJson().sessionId }}"},{"name":"description","value":"={{ $json.output.parseJson().description }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[432,0],"id":"b3e6bc61-69e6-4641-9af1-186ec5cc33ad","name":"Store Chat Description"},{"parameters":{"inputSource":"jsonExample","jsonExample":"\n  {\n    \"direct_response_to_user\": \"Great choice! I'm connecting you with our Goal Management Agent to help update and refine the goals and milestones for your 'Performance Testing Suite' project.\",\n    \"agent_to_route_to\": \"Goal Management Agent\",\n    \"forwarded_message\": \"User selected project 'Performance Testing Suite' (ID: af379781-1eca-4bb7-824c-5eaa94b5ac24) and wants to update the goals and milestones. Project has existing milestones (1) and tasks (2). Current description: 'Comprehensive testing framework for performance metrics'. Status: Planning Phase. Time Estimate: 2 months. Milestone Granularity: Quarterly. Expansion Horizon: 2 Weeks. Start date: 2025-04-01.\",\n    \"project_data\": {\n      \"Project Id\": \"af379781-1eca-4bb7-824c-5eaa94b5ac24\",\n      \"Project Name\": \"Performance Testing Suite\",\n      \"Status\": \"Planning Phase\",\n      \"Project Description\": \"Comprehensive testing framework for performance metrics\",\n      \"Goal/Milestone Children\": [\n        \"fc89b1c0-2608-4302-8712-397d17be9a5d\"\n      ],\n      \"Task Children\": [\n        \"98deae40-eb12-4c67-8202-a50d8ba9b338\",\n        \"894ff780-f48f-46e0-824e-f5a00d5ae71b\"\n      ],\n      \"Time Estimate (Months)\": 2,\n      \"Time Estimated Validated\": true,\n      \"Project Validated\": false,\n      \"Milestone Granularity\": \"Quarterly\",\n      \"Expansion Horizon\": \"2 Weeks\",\n      \"Start date\": \"2025-04-01\",\n      \"End date\": null\n    },\n    \"sessionId\": \"2025-10-15T20:48:42.191-04:00\",\n    \"IsReroute\": true\n  }"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-224,0],"id":"8e1d308e-e3ac-4a65-ab1b-3d1f04c5e946","name":"When Executed by Another Workflow"}],"connections":{"claude-sonnet-4.5":{"ai_languageModel":[[{"node":"Summarizing Title Agent","type":"ai_languageModel","index":1}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Summarizing Title Agent","type":"ai_memory","index":0}]]},"Summarizing Title Agent":{"main":[[{"node":"Store Chat Description","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Summarizing Title Agent","type":"main","index":0}]]},"x-ai/grok-4-fast:paid":{"ai_languageModel":[[{"node":"Summarizing Title Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"99597162-c091-4133-b73f-d15941211805","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-16T00:56:47.399Z","updatedAt":"2025-10-16T00:56:47.399Z","role":"workflow:owner","workflowId":"f0lHnCC0UdcgM3SB","projectId":"D5Llk9DWUJ5KykGw","project":{"createdAt":"2025-10-13T23:15:08.811Z","updatedAt":"2025-10-14T00:09:43.076Z","id":"D5Llk9DWUJ5KykGw","name":"Alexander Retana <alex.retana@live.com>","type":"personal","icon":null,"description":null}}]}]